label{
    width:150px;
    display: inline-block;
    font-size: medium;
    margin-left: 10px;
}
input{
    border-radius: 10px;
    border:0px;
    box-shadow: 0px 0px 10px black;
}
.error{
    color:red;
}