button{
    margin:5px;
}
h1{
    font-weight:1000;
    text-align: center;
}
.child{
    width:50%;
    height:40%;
    border-radius:20px;
    background-image: linear-gradient(rgb(134, 134, 4), rgb(238, 238, 14));
    
}
.content{
    text-align: center;
}
input{
    border:0;
    border-radius:3px;
    margin-left:5px;
}