 <form action="" [formGroup]="employeform">
    <label for="">Name</label>
    <input type="text" formControlName="Name">
    <br>
    <label for="">mobile</label>
    <input type="text" formControlName="mobile">
    <br>
    <label for="">email</label>
    <input type="text" formControlName="email">
    <br>
    <label for="">dob</label>
    <input type="datetime-local" formControlName="dob">
    <br>
    <div formGroupName="address">
        <label for="">addressLine</label>
        <input type="text" formControlName="addressLine">
        <br>
        <label for="">city</label>
        <input type="text" formControlName="city">
        <br>
        <label for="">state</label>
        <input type="text" formControlName="state">
        <br>
        <label for="">pincode</label>
        <input type="text"  formControlName="pincode">
        <br>
        <div formGroupName="location">
            <label for="">nearBy</label>
            <input type="text" formControlName="nearBy">
            <br>
            <label for="">landMark</label>
            <input type="text" formControlName="landMark">
            <br>
        </div>
    </div>
    
    <button class="btn btn-success" (click)="submit()">submit</button>
</form>