<table class="table table striped table-bordered">
    <thead>
        <tr>
            <th>Vehicle</th>
            <th>manufacturer</th>
            <th>model</th>
            <th>type</th>
            <th>fuel</th>
            <th>color</th>
            <th>image</th>
            <th>id</th>
        
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let Vehicle of vehicles">
             <td>{{Vehicle.Vehicle}}</td>
             <td>{{Vehicle.manufacturer}}</td>
             <td>{{Vehicle.model}}</td>
             <td>{{Vehicle.type}}</td>
             <td>{{Vehicle.fuel}}</td>
             <td>{{Vehicle.color}}</td>
             <td><img src="{{Vehicle.image}}" alt="" width="50" height="50"> </td>
             <td>{{Vehicle.id}}</td>
             

            

        </tr>
    </tbody>
    
</table>
