
            <div class="child container-fluid" *ngFor="let data of flipkart">
                <div>
                        <img src="{{data.image}}" alt="" height="200" width="200" > 
                </div>
                <div class="right">
                    <p class="title"><span class="head">Name:</span>{{data.title}}</p>
                    <p class="price"><span class="head">price:</span> {{data.price |currency:"INR":"symbol"}}</p>
                    <p class="rating"><span class="head">rating:</span> {{data.rating.count}}</p>
                    <p class="desc"><span class="head">description:</span> {{data.description}}</p>
                    <app-stars [rating]="3"> </app-stars>
                </div>
            </div>
        