<div class="parent">
    <div class="left">
         <h4 routerLink="home">Home</h4>
         <h4 routerLink="data-binding">Data binding</h4>
        <h4 routerLink="calculator">calculator</h4>
        <h4 routerLink="rectangle">rectangle</h4>
        <h4 routerLink="directives">directives</h4>
        <h4 routerLink="gpay">gpay</h4>
        <h4 routerLink="products">products</h4>
        <h4 routerLink="vehicle">vehicle</h4>
        <h4 routerLink="sbibank">bankdetails</h4>
        <h4 routerLink="flipkart">flipkart</h4>
        <h4 routerLink="mail">mail</h4>
        <h4 routerLink="boredom">boredom</h4>
        <h4 routerLink="create-vehicle">create-vehicle</h4>
        <h4 routerLink="create-bankdetails">create-bankdetails</h4>






        <button routerLink="/login">logout</button>
        <button class="btn btn-primary">boot</button>
       
    </div>
    <div class="right">
             <router-outlet></router-outlet>
    </div>
</div>