<h1>bank details  forms</h1>

<form action=""  [formGroup]="bankForm">
     <label for="">createdAt</label>   
     <input type="text" formControlName="createdAt" >
     <br><br>
     <label for="">account_name</label>   
     <input type="text" formControlName="account_name"> 
     <br><br>
     <label for="">available_balance</label>   
     <input type="number" formControlName="available_balance">
     <br><br>
     <label for="">currency</label>   
     <input type="text" formControlName="currency"> 
     <br><br>
     <label for="">user_image</label>   
     <input type="text" formControlName="user_image"> 
     <br><br>
     <label for="">account_number</label>   
     <input type="number" formControlName="account_number"> 
</form>
<button class="btn btn-primary" (click)="submit()"> submit</button>